<html>
<body style="background-color:black;">
    <u style="color: white;text-decoration-thickness:2px;"><h1 style="text-align: center; font-size:40px;color:white">Here's your code for hello world in C</h1></u><br>
    <div class="geshifilter">
        <div class="c geshifilter-c" style="text-align:justify;" >
            <span style="color: yellow;font-size:25px;" >
                #include &lt;stdio.h&gt;
            </span>
            <p></p>
                <span style="color: red;font-size:25px">int </span><span style="color: white;font-size:25px;">main</span> 
                <span style="color: green;font-size:25px;">
                    (</span><span style="color:green;font-size:25px;">)
                    </span>
                    <span style="color:green;font-size:25px;">{</span>
                        <br /> <br />
                    <div style="margin-left: 30px;"> 
                        <span style="color: cyan;font-size:25px;">printf</span>
                        <span style="color: green;font-size:25px;">(</span>
                        <span style="color: white;font-size:25px;">"Hello world<span style="color: cyan;font-size:25px; font-weight: bold;">\n</span>"</span>
                        <span style="color: green;font-size:25px;">)</span>
                        <span style="color: green;font-size:25px;">;</span>
                        <br />  <span style="color:yellow;font-size:25px;">return</span> 
                        <span style="color: blue;font-size:25px;">0</span>
                        <span style="color: green;font-size:25px;">;</span>
                    </div>
                    <br />
                    <span style="color:green;font-size:25px;">}</span>
        </div>
    </div>
</body>
</html>
