<u><h1 style="text-align: center; font-size:50px;">Here's your code for hello world in Javascript</h1></u><br>

<span style="color: yellow;font-size:25px;">console</span>
<span style="color: cyan;font-size:25px;" >.</span>
<span style="color: blue;font-size:25px;">log</span>
<span style="color: red;font-size:25px;" >(</span>
<span style="color: white;font-size:25px;">"</span>
<span style="color: orange;font-size:25px;">Hello World</span>
<span style="color: white;font-size:25px;">"</span>
<span style="color: red;font-size:25px;" >)</span>
<span style="color: white;font-size:25px;">;</span>