<html>
    <u><h1 style="text-align: center; font-size:50px;">Here's your code for hello world in Java</h1></u><br>
<body>
    <div class="geshifilter">
        <div class="c geshifilter-c" style=" text-align:justify;" >
            <span style="color:cyan;font-size:25px;">
                public 
            </span>
            <span style="color:blue;font-size:25px;">
                class 
            </span>
            <span style="color:green;font-size:25px;">
                HelloWorld
            </span>
            <span style="color:yellow;font-size:25px;">
                {
            </span>
            <br /> 
            <div style="margin-left: 30px;">
                <span style="color:blue;font-size:25px;">
                    public
                </span>
                <span style="color:white;font-size:25px;">
                    static
                </span>
                <span style="color:red;font-size:25px;">
                    void
                </span>
                <span style="color:blue;font-size:25px;">
                    main
                </span>
                <span style="color:purple;font-size:25px;">
                    (
                </span>
                <span style="color:blue;font-size:25px;">
                    String[] 
                </span>
                <span style="color:red;font-size:25px;">
                    args
                </span>
                <span style="color:purple;font-size:25px;">
                    )
                </span>
                <span style="color:cyan;font-size:25px;">
                    {
                </span>
            </div>
            <br /> 
            <div style="margin-left: 60px">
                <span style="color:blue;font-size:25px;">
                    System.</span>
                <span style="color:cyan;font-size:25px;">
                    out.</span>
                <span style="color:yellow;font-size:25px;">
                    println</span>
                <span style="color:white;font-size:25px;">
                    (</span>
                <span style="color:orange;font-size:25px;">
                    "Hello World"</span>
                <span style="color:white;font-size:25px;">
                    )</span>
                <span style="color:white;font-size:25px;">
                    ;</span>
                <br />  <br>
            </div>
            <span style="color:cyan;font-size:25px;margin-left:30px">
                }              
            </span>
            <br>
            <span style="color:yellow;font-size:25px;">
                }
            </span>
        </div>
    </div>