<html>
<body style="background-color: black;">
    <u style="color: white;text-decoration-thickness:2px;"><h1 style="text-align: center; font-size:40px;color:white">Here's your code for hello world in Python</h1></u><br>

    <span style="color: yellow;font-size:25px;" >print</span>
    <span style="color: blue;font-size:25px;" >(</span>
    <span style="color: white;font-size:25px;">'</span>
    <span style="color: orange;font-size:25px;" >Hello World</span>
    <span style="color: white;font-size:25px;">'</span>
    <span style="color: blue;font-size:25px;" >)</span>

</html>