<html>
    <body style="background-color: black;">
        <u style="color: white;text-decoration-thickness:2px;"><h1 style="text-align:center;color:white">Choose Your language</h1></u><br>
        <p align="center">
            <a href=C>
                <button class='explanation' style="height:50px;width:50px;background-color:black;color:white">C</button>
            </a><br> <br>
            <a href=C++>
                <button class='explanation' style="height:50px;width:50px;background-color:black;color:white">C++</button>
            </a><br> <br>
            <a href=Python>
                <button class='explanation' style="height:50px;width:60px;background-color:black;color:white">Python</button>
            </a><br> <br>
            <a href=Java>
                <button class='explanation' style="height:50px;width:60px;background-color:black;color:white">Java</button>
            </a><br> <br>
            <a href=Javascript>
                <button class='explanation' style="height:50px;width:80px;background-color:black;color:white">Javascript</button>
            </a><br> <br>
        </p>
    </body>
</html>