<!DOCTYPE html>
<html>
    <body>
        <h2 style="text-align:center;">Choose Your language</h2>
        <p align="center">
            <a href=C>
                <button class='explanation' style="height:50px;width:50px">C</button>
            </a><br> <br>
            <a href=C++>
                <button class='explanation' style="height:50px;width:50px">C++</button>
            </a><br> <br>
            <a href=Python>
                <button class='explanation' style="height:50px;width:50px">Python</button>
            </a><br> <br>
            <a href=Java>
                <button class='explanation' style="height:50px;width:50px">Java</button>
            </a><br> <br>
            <a href=Javascript>
                <button class='explanation' style="height:50px;width:70px">Javascript</button>
            </a><br> <br>
        </p>
    </body>
</html>